<div class="row" ng-app="DigiDayMdl">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="text-center"><h2>{{event.title}}</h2></div>
        <br/>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
        <div class="text-center">{{event.details}}</div>
        <br/>
        <br/>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
        <div class="well well-lg">
            <div>L'evento è stato creato da <label>{{event.creator.firstName}} {{event.creator.lastName}}</label> e si terrà in aula <label>{{event.classroom.name}}</label> il giorno <label>{{stringToDate(event.startingDate) | date: "dd/MM/yyyy"}}</label> dalle <label>{{stringToDate(event.startingDate) | date: "HH:mm"}}</label> alle <label>{{stringToDate(event.endingDate) | date: "HH:mm"}}</label>.</div>
            <br/>
            <div ng-show="event.partecipants.length === 1">Attualmente partecipa <label>1 utente</label> su <label>{{event.maxPartecipants}}</label></div>
            <div ng-show="event.partecipants.length !== 1">Attualmente partecipano <label>{{event.partecipants.length}} utenti</label> su <label>{{event.maxPartecipants}}</label></div>
        </div>
        <br/>
        <br/>
    </div>
    <div ng-show="User.isAuthenticated()">
        <div ng-show="isOwner()">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <button class="btn btn-block btn-danger" ng-click="deleteSession()">Elimina</button>
                </div>
            </div>
        </div>
        <div ng-hide="isOwner()">
            <div class="row" ng-hide="isSubscribed()">
                <div class="col-xs-8 col-xs-offset-2">
                    <button class="btn btn-block btn-success" ng-click="subscribe()" ng-disabled="event.partecipants.length === event.maxPartecipants">Iscriviti</button>
                </div>
            </div>
            <div class="row" ng-show="isSubscribed()">
                <div class="col-xs-8 col-xs-offset-2">
                    <button class="btn btn-block btn-danger" ng-click="unsubscribe()">Disiscriviti</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="User.isAuthenticated()">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="alert-group">
                <div class="alert alert-danger">
                    <div class="text-center"><strong>Devi essere autenticato per iscriverti alla sessione</strong></div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-2">
                            <button class="btn btn-block btn-success" ng-click="open('views/user/login.html')">Accedi</button>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block btn-primary" ng-click="open('views/user/create.html')">Iscriviti</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>