<div ng-app="LoginMdl" ng-controller="LoginCtrl as login">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
        <form name="loginForm" novalidate>
            <div class="form-group" ng-class="loginForm.fresher.$error.required || login.isNewFresher() ? 'has-error' : 'has-success'">
                <label for="fresher">Matricola</label>
                <input class="form-control" type="text" name="fresher" id="fresher" ng-model="login.user.fresher" required/>
                <div class="error text-center" ng-show="!loginForm.fresher.$error.required && login.isNewFresher()">Matricola inserita inesistente</div>
            </div>
            <div class="form-group" ng-class="loginForm.password.$error.required ? 'has-error' : 'has-success'">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" ng-model="login.user.password" required/>
            </div>
            <br/>
            <div class="form-group">
                <div ng-class="">
                    <button class="btn btn-block" ng-class="loginForm.$invalid || login.isNewFresher() ? 'btn-danger' : 'btn-success'" ng-click="login.authenticateUser()" ng-disabled="loginForm.$invalid || login.isNewFresher()">Accedi</button>
                </div>
            </div>
        </form>
    </div>
</div>