<script type="text/javascript">
    $(document).ready(function () {
        $("#InputPassword").password();

        $("#VisibleInputPassword").attr("ng-model", "login.user.password");
    });
</script>
<div ng-app="LoginMdl" ng-controller="LoginCtrl as login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center"><label>Accedi su DIGIDay</label></h3>
            </div>
            <div class="modal-body">
                <form name="loginForm" novalidate>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="InputFresher">Matricola</label>
                            <div class="input-group" ng-class="loginForm.fresher.$error.required || login.isNewFresher() ? 'has-error' : 'has-success'">
                                <input type="text" class="form-control" name="fresher" id="InputFresher" placeholder="Inserisci la Matricola" required ng-model="login.user.fresher">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="InputPassword">Password</label>
                            <div ng-class="loginForm.password.$error.required ? 'has-error' : 'has-success'">
                                <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Inserisci la Password" required ng-model="login.user.password">
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <button class="btn btn-block" ng-class="loginForm.$invalid || login.isNewFresher() ? 'btn-danger' : 'btn-success'" ng-click="login.authenticateUser()" ng-disabled="loginForm.$invalid || login.isNewFresher()">Accedi</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>