<div ng-app="PartecipaMdl" ng-controller="PartecipaCtrl as partecipa">
    <div ng-repeat="session in partecipa.sessions">
        <br/>
        <div class="row">
            <div class="jumbotron col-md-4 col-md-offset-1">
                <div class="row">Data di Inizio: {{session.startingDate}}</div>
                <div class="row">Data di Fine {{session.endingDate}}</div>
            </div>
            <div class="col-md-6">
                <div class="well well-lg">
                    <div class="row pull-right">
                        <a href="#/utente/{{session.creator.id}}">
                            {{session.creator.firstName}} {{session.creator.lastName}}
                        </a>
                    </div>
                    <div class="row text-center">
                        <a href="#/sessione/{{session.id}}">
                            <h3>{{session.title}}</h3>
                        </a>
                    </div>
                    <div class="row text-center">
                        {{session.details}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>