<script type="text/javascript">
    $(document).ready(function () {
        $("#InputClassroom").selectpicker("show");
        $("#InputTopic").selectpicker("show");

        $("#InputStartingDate").bootstrapMaterialDatePicker({
            format: "YYYY-MM-DD HH:mm",
            lang: "it",
            minDate: new Date()
        });

        $("#InputEndingDate").bootstrapMaterialDatePicker({
            format: "YYYY-MM-DD HH:mm",
            lang: "it",
            minDate: new Date()
        });
    });
</script>
<div ng-app="SessionMdl" ng-controller="SessionCtrl as session">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center"><label>Crea una Sessione</label></h3>
            </div>
            <div class="modal-body">
                <form name="sessionForm" novalidate>
                    <div class="form-group"> 
                        <div class="col-md-12">
                            <label for="InputTitle">Titolo</label>
                            <div class="input-group" ng-class="sessionForm.title.$error.required ? 'has-error' : 'has-success'">
                                <input type="text" class="form-control" name="title" id="InputTitle" placeholder="Inserisci il Titolo" ng-model="session.session.title" required>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="InputStartingDate">Data di Inizio</label>
                            <div class="input-group" ng-class="sessionForm.startingDate.$error.required ? 'has-error' : 'has-success'">
                                <input type="text" class="form-control" name="startingDate" id="InputStartingDate" placeholder="Inserisci la Data di Inizio" required ng-change="session.refreshClassrooms(); session.refreshItems();" ng-model="session.session.startingDate">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="InputEndingDate">Data di Fine</label>
                            <div class="input-group" ng-class="sessionForm.endingDate.$error.required ? 'has-error' : 'has-success'">
                                <input type="text" class="form-control" name="endingDate" id="InputEndingDate" placeholder="Inserisci la Data di Fine" required ng-change="session.refreshClassrooms(); session.refreshItems();" ng-model="session.session.fresher">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="InputClassroom">Aula</label>
                            <div class="input-group" ng-class="sessionForm.classroom.$error.required ? 'has-error' : 'has-success'">
                                <select class="selectpicker" title="Scegli la Classe" name="classroom" id="InputClassroom" disabled required ng-disabled="sessionForm.startingDate.$error.required && sessionForm.endingDate.$error.required" ng-model="session.session.classroom">
                                    <option value="{{classroom.classroom}}" ng-repeat="classroom in session.classrooms">{{classroom.classroom}}</option>
                                </select>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="InputMaxPartecipants">Numero massimo di Partecipanti</label>
                            <div class="input-group" ng-class="sessionForm.maxPartecipants.$error.required ? 'has-error' : 'has-success'">
                                <div class="input-group number-spinner">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" data-dir="dwn" ng-click="session.decreaseMaxPartecipants()"><span class="glyphicon glyphicon-minus"></span></button>
                                    </span>
                                    <input type="number" class="form-control" name="maxPartecipants" id="InputMaxPartecipants" max="25" placeholder="Inserisci il numero massimo di Partecipanti" required ng-model="session.session.maxPartecipants">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" data-dir="up" ng-click="session.increaseMaxPartecipants()"><span class="glyphicon glyphicon-plus"></span></button>
                                    </span>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="InputTopic">Argomento</label>
                            <div class="input-group" ng-class="sessionForm.topic.$error.required ? 'has-error' : 'has-success'">
                                <select class="selectpicker" title="Scegli l'Argomento" name="topic" id="InputTopic" disabled required ng-model="session.session.topic">
                                    <option value="{{topic.topic}}" ng-repeat="topics in session.topics">{{topic.topic}}</option>
                                </select>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <button class="btn btn-block" ng-class="registrationForm.$invalid || registration.isInvalidEmail() || registration.isExistingFresher() || registration.isExistingEmail() ? 'btn-danger' : 'btn-success'" ng-click="registration.createUser()">Registrati</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>