<script type="text/javascript">
    $(document).ready(function () {
        $("#startingDate").bootstrapMaterialDatePicker({
            clearButton: true,
            format: "YYYY-MM-DD HH:mm",
            minDate: new Date()
        });

        $("#endingDate").bootstrapMaterialDatePicker({
            clearButton: true,
            format: "YYYY-MM-DD HH:mm",
            lang: "it",
            minDate: new Date()
        });
    });
</script>
<div ng-app="SessionMdl" ng-controller="SessionCtrl as session">
    <div style="margin-top: 2%"></div>
    <div class="col-xs-12">
        <form name="sessionForm" novalidate>
            <div class="form-group" ng-class="sessionForm.title.$error.required ? 'has-error' : 'has-success'">
                <label for="title">Titolo</label>
                <input class="form-control" type="text" name="title" id="title" ng-model="session.session.title" required/>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="sessionForm.startingDate.$error.required ? 'has-error' : 'has-success'">
                        <label for="startingDate">Data di inizio</label>
                        <input class="form-control" type="text" name="startingDate" id="startingDate" ng-model="session.session.startingDate" ng-change="session.refreshClassrooms(); session.refreshItems()" required/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="sessionForm.endingDate.$error.required ? 'has-error' : 'has-success'">
                        <label for="endingDate">Data di fine</label>
                        <input class="form-control" type="text" name="endingDate" id="endingDate" ng-model="session.session.endingDate" ng-change="session.refreshClassrooms(); session.refreshItems()" required/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="maxPartecipants">Numero massimo di Partecipanti</label>
                <div class="input-group number-spinner">
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-dir="dwn" ng-click="session.decreaseMaxPartecipants()"><span class="glyphicon glyphicon-minus"></span></button>
                    </span>
                    <input class="form-control" type="number" max="25" min="3" name="maxPartecipants" id="maxPartecipants" ng-model="session.session.maxPartecipants" disabled>
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-dir="up" ng-click="session.increaseMaxPartecipants()"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="sessionForm.classroom.$error.required ? 'has-error' : 'has-success'">
                        <label for="classroom">Aula</label>
                        <select class="form-control" name="classroom" id="classroom" ng-disabled="sessionForm.startingDate.$error.required || sessionForm.endingDate.$error.required" ng-model="session.session.classroom" required>
                            <option value="{{classroom.classroom}}" ng-repeat="classroom in session.classrooms">{{classroom.classroom}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="sessionForm.topic.$error.required ? 'has-error' : 'has-success'">
                        <label for="topic">Argomento</label>
                        <select class="form-control" name="topic" id="topic" ng-model="session.session.topic" required>
                            <option value="{{topic.topic}}" ng-repeat="topic in session.topics">{{topic.topic}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="sessionForm.item.$error.required ? 'has-error' : 'has-success'">
                <label for="item">Materiale</label>
                <select class="form-control" name="item" id="item" ng-model="session.session.item" required>
                    <option value="{{item.name}}" ng-repeat="item in session.items">{{item.name}}</option>
                </select>
            </div>
            <div class="form-group has-success">
                <label for="details">Dettagli</label>
                <textarea class="form-control" name="details" id="details" rows="3" ng-model="session.session.details"></textarea>
            </div>
            <br/>
            <div class="form-group">
                <div ng-class="">
                    <button class="btn btn-block" ng-class="sessionForm.$invalid ? 'btn-danger' : 'btn-success'" ng-click="session.createSession()" ng-disabled="sessionForm.$invalid">Registrati</button>
                </div>
            </div>
        </form>
    </div>
</div>