<div ng-app="TakePartMdl" ng-controller="TakePartCtrl as takePart">
    <div ng-repeat="session in takePart.sessions">
        <br/>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well well-lg">
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#/sessione/{{session.id}}" style="font-size: 30px">
                                {{session.title}}
                            </a>
                        </div>
                        <div class="col-md-5">
                            <div class="pull-right">
                                <a href="#/utente/{{session.creator.id}}">
                                    {{session.creator.firstName}} {{session.creator.lastName}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            {{session.details}}
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <span ng-bind="takePart.stringToDate(session.startingDate) | date:'dd / MM / yyyy HH:mm'"></span> - <span ng-bind="takePart.stringToDate(session.endingDate) | date:'HH:mm'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>