<script type="text/javascript">
    $(document).ready(function () {
        $("#InputBirthdate").bootstrapMaterialDatePicker({
            lang: "it",
            maxDate: new Date(),
            time: false
        });
    });
</script>
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-10 col-xs-offset-1">
            <form name="registrationForm" novalidate>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="InputFresher">Matricola</label>
                        <div class="input-group" ng-class="registrationForm.fresher.$error.required || Form.isExistingFresher(freshers, newUser.fresher) ? 'has-error' : 'has-success'">
                            <input type="text" class="form-control" name="fresher" id="InputFresher" placeholder="Inserisci la Matricola" required ng-model="newUser.fresher">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                        </div>
                        <hr/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="InputPassword">Password</label>
                        <div class="input-group" ng-class="registrationForm.password.$error.required ? 'has-error' : 'has-success'">
                            <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Inserisci la Password" required ng-model="newUser.password">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                        <hr/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="InputFirstName">Nome</label>
                        <div class="input-group" ng-class="registrationForm.firstName.$error.required ? 'has-error' : 'has-success'">
                            <input type="text" class="form-control" name="firstName" id="InputFirstName" placeholder="Inserisci il Nome" required ng-model="newUser.firstName">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        </div>
                        <hr/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="InputLastName">Cognome</label>
                        <div class="input-group" ng-class="registrationForm.lastName.$error.required ? 'has-error' : 'has-success'">
                            <input type="text" class="form-control" name="lastName" id="InputLastName" placeholder="Inserisci il Cognome" required ng-model="newUser.lastName">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        </div>
                        <hr/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="InputEmail">Email</label>
                        <div class="input-group" ng-class="registrationForm.email.$error.required || Form.isInvalidEmail(newUser.email) || Form.isExistingEmail(emails, newUser.email) ? 'has-error' : 'has-success'">
                            <input type="text" class="form-control" name="email" id="InputEmail" placeholder="Inserisci l'indirizzo Email" required ng-model="newUser.email">
                            <span class="input-group-addon"><span class="fa fa-at"></span></span>
                        </div>
                        <hr/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="InputBirthdate">Data di Nascita</label>
                        <div class="input-group" ng-class="registrationForm.birthdate.$error.required ? 'has-error' : 'has-success'">
                            <input type="text" class="form-control" name="birthdate" id="InputBirthdate" placeholder="Inserisci la Data di Nascita" required ng-model="newUser.birthdate">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <hr/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="InputSex">Sesso</label>
                        <div ng-class="registrationForm.sex.$error.required ? 'has-error' : 'has-success'">
                            <ol class="form-control nya-bs-select col-xs-12" name="sex" id="InputSex" required ng-model="newUser.sex">
                                <li class="nya-bs-option" data-value="Donna"><a>Donna</a></li>
                                <li class="nya-bs-option" data-value="Uomo"><a>Uomo</a></li>
                            </ol>
                        </div>
                        <hr/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="InputRole">Ruolo</label>
                        <div ng-class="registrationForm.role.$error.required ? 'has-error' : 'has-success'">
                            <ol class="form-control nya-bs-select col-xs-12" name="role" id="InputRole" required ng-model="newUser.role">
                                <li class="nya-bs-option" data-value="Docente"><a>Docente</a></li>
                                <li class="nya-bs-option" data-value="Studente"><a>Studente</a></li>
                            </ol>
                        </div>
                        <hr/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <button class="btn btn-block" ng-class="registrationForm.$invalid || Form.isExistingFresher(freshers, user.newFresher) || Form.isInvalidEmail(newUser.email) || Form.isExistingEmail(emails, newUser.email) ? 'btn-danger' : 'btn-success'" ng-click="registration(newUser)" ng-disabled="registrationForm.$invalid || Form.isExistingFresher(freshers, user.newFresher) || Form.isInvalidEmail(newUser.email) || Form.isExistingEmail(emails, newUser.email)">Registrati</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>