<script>
    $(document).ready(function () {
        $("#birthdate").bootstrapMaterialDatePicker({
            lang: "it",
            maxDate: new Date(),
            time: false
        });
    });
</script>
<style>
    .avatar{
        background-image: url("http://www.w3schools.com/angular/pic_angular.jpg");
        background-size: cover;
        border: 2px solid #AAA;
        border-radius: 100%;
        height: 100px;
        width: 100px;
    }

    .form-box .form-control-first {
        border-radius: 5px 5px 0px 0px;
    }

    .form-box .form-control-middle {
        border-radius: 0px 0px 0px 0px;
        border-top: 0;
    }

    .form-box .form-control-last {
        border-radius: 0px 0px 5px 5px;
    }

    .form-box .button{
        margin-top: 20px;
        padding: 10px 20px;
    }
</style>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="avatar center-block"></div>
        <br/>
        <div class="form-box">
            <form name="registrationForm">
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div ng-class="registrationForm.fresher.$error.required || Form.isExistingFresher(freshers, newUser.fresher) ? 'has-error' : 'has-success'">
                                <input type="text" class="form-control form-control-first text-center" name="fresher" placeholder="Matricola" required ng-model="newUser.fresher">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div ng-class="registrationForm.password.$error.required ? 'has-error' : 'has-success'">
                                <input type="password" class="form-control form-control-middle text-center" name="password" id="InputPassword" placeholder="Password" required ng-model="newUser.password">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div ng-class="registrationForm.firstName.$error.required ? 'has-error' : 'has-success'">
                                <input type="text" class="form-control form-control-middle text-center" name="firstName" placeholder="Nome" required ng-model="newUser.firstName">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div ng-class="registrationForm.lastName.$error.required ? 'has-error' : 'has-success'">
                                <input type="text" class="form-control form-control-middle text-center" name="lastName" placeholder="Cognome" required ng-model="newUser.lastName">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div ng-class="registrationForm.email.$error.required || Form.isInvalidEmail(newUser.email) || Form.isExistingEmail(emails, newUser.email) ? 'has-error' : 'has-success'">
                                <input type="text" class="form-control form-control-middle text-center" name="email" placeholder="Email" required ng-model="newUser.email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div ng-class="registrationForm.birthdate.$error.required ? 'has-error' : 'has-success'">
                                <input type="text" class="form-control form-control-middle text-center" name="birthdate" id="birthdate" placeholder="Data di Nascita" required ng-model="newUser.birthdate">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div ng-class="registrationForm.sex.$error.required ? 'has-error' : 'has-success'">
                                <!--Modificare il CSS della classe nya-bs-select-->
                                <ol class="nya-bs-select form-control form-control-middle col-xs-12 text-center" name="sex" required ng-model="newUser.sex">
                                    <li class="nya-bs-option" data-value="Donna"><a>Donna</a></li>
                                    <li class="nya-bs-option" data-value="Uomo"><a>Uomo</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div ng-class="registrationForm.role.$error.required ? 'has-error' : 'has-success'">
                                <ol class="nya-bs-select form-control form-control-last col-xs-12 text-center" name="role" required ng-model="newUser.role">
                                    <li class="nya-bs-option" data-value="Docente"><a>Docente</a></li>
                                    <li class="nya-bs-option" data-value="Studente"><a>Studente</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="btn btn-block button" ng-class="registrationForm.$invalid || Form.isExistingFresher(freshers, user.newFresher) || Form.isInvalidEmail(newUser.email) || Form.isExistingEmail(emails, newUser.email) ? 'btn-danger' : 'btn-success'" ng-click="create(newUser)" ng-disabled="registrationForm.$invalid || Form.isExistingFresher(freshers, user.newFresher) || Form.isInvalidEmail(newUser.email) || Form.isExistingEmail(emails, newUser.email)">Registrati</button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row" ng-show="showSuccessMessage">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="alert-group">
                            <div class="alert alert-success">
                                <div class="text-center"><strong>{{message}}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="showErrorMessage">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="alert-group">
                            <div class="alert alert-danger">
                                <div class="text-center"><strong>{{message}}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>