<div ng-app="UserMdl" ng-controller="UserCtrl as user">
    <br/>
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div class="row">
                <img class="img-responsive center-block" src="{{user.user.image}}" ng-click="open('views/user/update/image.html')">
                <br/>
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12">
                    <button class="btn btn-primary btn-block" ng-click="open('views/user/update/image.html')">Modifica Email</button>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12">
                    <button class="btn btn-primary btn-block" onclick="window.location.href = '#/utente/modifica/email';">Modifica Email</button>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12">
                    <button class="btn btn-primary btn-block" onclick="window.location.href = '#/utente/modifica/password';">Modifica Password</button>
                </div>
                <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12">
                    <br/>
                    <button class="btn btn-danger btn-block" onclick="window.location.href = '#/utente/elimina';">Elimina profilo</button>
                </div>
            </div>
            <br class="visible-sm visible-xs"/>
            <br class="visible-sm visible-xs"/>
        </div>
        <div class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div class="jumbotron">
                <div class="row" style="font-size: 30px;">
                    <div class="col-xs-10 col-xs-offset-1">
                        <label>{{user.user.firstName}} {{user.user.lastName}}</label>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        Email: <label>{{user.user.email}}</label>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        Data di Nascita: <label><span ng-bind="stringToDate(user.user.birthdate) | date:'dd / MM / yyyy'"></span></label>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        Ruolo: <label>{{user.user.role}}</label>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        Sesso: <label>{{user.user.sex}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <div class="jumbotron">
                <div class="row" style="font-size: 30px;">
                    <div class="col-xs-12 text-center">
                        <label>Alcune mie Sessioni</label>
                    </div>
                </div>
                <br/>
                <div class="well" ng-repeat="session in userProfile.sessions | limitTo: 5">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <label><a href="#/session/{{session.id}}" style="font-size: 20px">{{session.title}}</a></label>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">{{session.details| limitTo: 500}} ...</div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <label><span ng-bind="userProfile.stringToDate(session.startingDate) | date:'dd / MM / yyyy HH:mm'"></span></label> - <label><span ng-bind="userProfile.stringToDate(session.endingDate) | date:'HH:mm'"></span></label>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <label><a href="#/utente/sessioni" style="font-size: 18px;">Visualizza tutte le mie Sessioni</a></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
</div>