<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <form name="emailForm" novalidate>
            <div class="form-group">
                <label for="InputEmail">Email</label>
                <div class="input-group" ng-class="emailForm.email.$error.required || Form.isInvalidEmail(newEmail) || Form.isExistingEmail(emails, newEmail) ? 'has-error' : 'has-success'">
                    <input type="text" class="form-control" name="email" id="InputEmail" placeholder="Inserisci il nuovo indirizzo Email" required ng-model="newEmail">
                    <span class="input-group-addon"><span class="fa fa-at"></span></span>
                </div>
                <hr/>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <button class="btn btn-block" ng-class="emailForm.$error.required || Form.isInvalidEmail(newEmail) || Form.isExistingEmail(emails, newEmail) ? 'btn-danger' : 'btn-success'" ng-click="updateEmail(newEmail)" ng-disabled="emailForm.$error.required || Form.isInvalidEmail(newEmail) || Form.isExistingEmail(emails, newEmail)">Conferma</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>