<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <form name="passwordForm" novalidate>
            <div class="form-group">
                <label for="InputOldPassword">Password attuale</label>
                <div class="input-group" ng-class="passwordForm.oldPassword.$error.required ? 'has-error' : 'has-success'">
                    <input type="password" class="form-control" name="oldPassword" id="InputOldPassword" placeholder="Inserisci la Password attuale" required ng-model="user.oldPassword">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                </div>
                <hr/>
            </div>
            <div class="form-group">
                <label for="InputNewPassword">Nuova Password</label>
                <div class="input-group" ng-class="passwordForm.newPassword.$error.required ? 'has-error' : 'has-success'">
                    <input type="password" class="form-control" name="newPassword" id="InputNewPassword" placeholder="Inserisci la nuova Password" required ng-model="user.newPassword">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                </div>
                <hr/>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <button class="btn btn-block" ng-class="passwordForm.$error.required ? 'btn-danger' : 'btn-success'" ng-click="updatePassword(user)" ng-disabled="passwordForm.$error.required">Conferma</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>