<script type="text/javascript">
    $(document).ready(function () {
        $("#InputPassword").password();

        $("#VisibleInputPassword").attr("ng-model", "registration.user.password");
    });
</script>
<div ng-app="RegistrationMdl" ng-controller="RegistrationCtrl as registration">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center"><label>Inserisci la nuova Password</label></h3>
            </div>
            <div class="modal-body">
                <form name="passwordForm" novalidate>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="InputOldPassword">Password attuale</label>
                            <div class="input-group" ng-class="passwordForm.oldPassword.$error.required ? 'has-error' : 'has-success'">
                                <input type="password" class="form-control" name="oldPassword" id="InputOldPassword" placeholder="Inserisci la Password attuale" required ng-model="registration.user.oldPassword">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="InputPassword">Password</label>
                            <div ng-class="passwordForm.password.$error.required ? 'has-error' : 'has-success'">
                                <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Inserisci la Password" required ng-model="registration.user.password">
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <button class="btn btn-block" ng-class="passwordForm.oldPassword.$error.required || passwordForm.password.$error.required ? 'btn-danger' : 'btn-success'" ng-click="user.changePassword(registration.user)" ng-disabled="passwordForm.oldPassword.$error.required || passwordForm.password.$error.required">Conferma</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>