<div ng-controller="AdministratorCtrl as administrator">
    <div class="row" ng-show="user.isAdministrator()">
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-plus fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><label>Inserisci</label></div>
                        </div>
                    </div>
                </div>
                <a ng-click="openAdministrator('views/administrator/create/classroom.html')">
                    <div class="panel-footer">
                        <span class="pull-left">Aula</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a ng-click="openAdministrator('views/administrator/create/item.html')">
                    <div class="panel-footer">
                        <span class="pull-left">Materiale</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a ng-click="openAdministrator('views/administrator/create/topic.html')">
                    <div class="panel-footer">
                        <span class="pull-left">Argomento</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-pencil fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><label>Modifica</label></div>
                        </div>
                    </div>
                </div>
                <a ng-click="open('views/administrator/update/classroom.html')">
                    <div class="panel-footer">
                        <span class="pull-left">Aula</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a ng-click="open('views/administrator/update/item.html')">
                    <div class="panel-footer">
                        <span class="pull-left">Materiale</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a ng-click="open('views/administrator/update/topic.html')">
                    <div class="panel-footer">
                        <span class="pull-left">Argomento</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-remove fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><label>Elimina</label></div>
                        </div>
                    </div>
                </div>
                <a ng-click="open('views/administrator/delete/classroom.html')">
                    <div class="panel-footer">
                        <span class="pull-left">Aula</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a ng-click="open('views/administrator/delete/item.html')">
                    <div class="panel-footer">
                        <span class="pull-left">Materiale</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a ng-click="open('views/administrator/delete/topic.html')">
                    <div class="panel-footer">
                        <span class="pull-left">Argomento</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="user.isAdministrator()">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-xs-12">
                        <h3><label>DEVI ESSERE AMMINISTRATORE PER ACCEDERE ALL'AREA</label></h3>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-success btn-block">Accedi</button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-block">Registrati</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>