<div ng-app="AdministratorMdl" ng-controller="AdministratorCtrl as administrator">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center"><label>Inserisci la nuova Aula</label></h3>
            </div>
            <div class="modal-body">
                <form name="classroomForm" novalidate>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="InputId">Nome</label>
                            <div class="input-group" ng-class="classroomForm.id.$error.required || administrator.isExistingClassroom() ? 'has-error' : 'has-success'">
                                <input type="text" class="form-control" name="id" id="InputId" placeholder="Inserisci il Nome" required ng-model="administrator.classroom.id">
                                <span class="input-group-addon"><span class="fa fa-at"></span></span>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <span><label for="InputCapacity">Capacità</label> [10 ... 50]</span>
                            <div class="input-group" ng-class="classroomForm.capacity.$error.required || administrator.checkCapacity() ? 'has-error' : 'has-success'">
                                <input type="number" class="form-control" name="capacity" id="InputCapacity" placeholder="Inserisci la Capienza" required ng-model="administrator.classroom.capacity">
                                <span class="input-group-addon"><span class="fa fa-at"></span></span>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="InputFeatures">Caratteristiche</label>
                            <div ng-class="administrator.classroom.features == null || administrator.classroom.features.length == 0 ? '' : 'has-success'">
                                <textarea rows="3" class="form-control" name="features" id="InputFeatures" placeholder="Inserisci le Caratteristiche" ng-model="administrator.classroom.features"></textarea>
                            </div>
                            <hr/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <button class="btn btn-block" ng-class="classroomForm.id.$error.required || administrator.isExistingClassroom() || classroomForm.capacity.$error.required ? 'btn-danger' : 'btn-success'" ng-click="administrator.createClassroom()" ng-disabled="classroomForm.id.$error.required || administrator.isExistingClassroom() || classroomForm.capacity.$error.required">Conferma</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>